 body {
     font-family: Arial, sans-serif;
     background: hsl(30, 54%, 90%);
     margin: 0;
     padding: 20px;
     justify-content: center;
     scroll-behavior: smooth;
     max-height: auto;
     font-size: auto;

 }

 .header>h1 {
     font-family: "Lora", serif;
     font-weight: 400;
     color: #143774;
     font-size: 2rem;
     margin: 0;
 }

 .subtitle {
     font-weight: 700;
     color: #1792d2;
     font-size: 0.75rem;
     margin: 0;
 }


 header {
     text-align: center;
     background: #f8f8f8;
     padding: 2em 0;
     height: 30vh;
 }



 nav ul {

     list-style: none;
     display: flex;

     padding: 0;

     justify-content: center;
 }

 nav li {

     margin: 0 1em;
 }

 nav a {
     text-decoration: none;
     color: #707070;
     font-weight: 700;
     padding: 0.25em 0;
 }


 nav a:hover,
 nav a:focus {
     color: #1792d2;
     border-bottom: 2px solid #1792d2;
 }


 .current-page {
     border-bottom: 2px solid #707070;
 }


 .current-page:hover,
 .current-page:focus {
     color: #707070;
     border-bottom: 2px solid #707070;
 }


 .inner-box {
     border: 2px solid #1792d2;
 }



 body {
     max-width: 100%;
     background-color: #1792d2;
     background-image: url(bg-desktop.svg);
     justify-content: center;
     text-align: center;
     scroll-behavior: smooth;
 }

 header {
     text-align: center;
     background: #f8f8f8;
     padding: 2em 0;
 }

 .title {
     color: #707070;
 }

 .title:hover {
     font-size: 42px;
     color: royalblue;
 }



 nav ul {

     list-style: none;
     display: flex;

     padding: 0;

     justify-content: center;
 }

 nav li {

     margin: 0 1em;
 }

 nav a {
     text-decoration: none;
     color: #707070;
     font-weight: 700;
     padding: 0.25em 0;
 }


 nav a:hover,
 nav a:focus {
     color: #1792d2;
     border-bottom: 2px solid #1792d2;
 }

 .current-page-only {
     color: #1792d2;
     border-bottom: 2px solid #1792d2;
 }

 .small-screen-navbar {
     visibility: hidden;
     display: none;
 }

 .job {
     color: cyan;
 }

 p {
     line-height: 30px;

     text-align: center;
 }

 strong {
     color: blueviolet;
 }

 .posts {
     color: khaki;
 }


 img {
     justify-content: center;
 }

 .images {
     width: 50%;
     text-align: center;

 }

 .img-h2 {
     color: darkorange;
     text-align: center;
 }


 @media (max-width:525px) and (min-width:310px) {

     body {
         padding: 0;
         width: auto;
         scroll-behavior: smooth;
     }

     .start {
         position: absolute;
         width: 95%;
     }


     .start-2 {
         text-align: center;
         position: absolute;
         padding-left: 3rem;
         margin-top: 6rem;
     }

     .small-screen-navbar {
         visibility: visible;
         position: absolute;
         display: flex;
         margin-top: -1rem;

     }


     .images:hover {
         font-size: 32px;
         width: 100%;
         height: 50vh;
     }


     .current-page,
     .aboutme,
     .contact,
     .notes,
     .other {
         visibility: hidden;
     }

     .objective-div {
         margin-left: 1.5rem;
         width: auto;
     }





 }