body {
    max-width: 100%;
    background-color: #1792d2;
    background-image: url(/assets/bg-desktop.svg);
    justify-content: center;
    text-align: center;
    scroll-behavior: smooth;
}

header {
    text-align: center;
    background: #f8f8f8;
    padding: 2em 0;
}

.title {
    color: #707070;
}

.title:hover {
    font-size: 42px;
    color: royalblue;
}




nav ul {

    list-style: none;
    display: flex;

    padding: 0;

    justify-content: center;
}

nav li {

    margin: 0 1em;
}

nav a {
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: 0.25em 0;
}


nav a:hover,
nav a:focus {
    color: #1792d2;
    border-bottom: 2px solid #1792d2;
}

.current-page-only {
    color: #1792d2;
    border-bottom: 2px solid #1792d2;
}

h3 {
    color: black;
}

strong {
    color: blueviolet;
}

.job {
    margin-top: 1rem;
    border-radius: 20px;
    height: 5vh;
    background-color: #1792d2;
    border-color: chartreuse;

}

a {
    text-decoration: none;
    font-weight: 700;
    padding: 0.25em 0;

}

img {
    justify-content: center;
}

.image-1 {
    width: 50%;
    text-align: center;

}